:root {
  --font-size: 1.4em;
  --line-height: 1.5em;
  --main-font: Roboto, sans-serif;
  --heading-font: Felipa, sans;
  --mono-font: "Fira Code", monospace;
}

:root[theme=dark] {
  --el0: #121016;
  --el1: #26232b;
  --el2: #333333;
  --primary: #d16adb;
  --primary-light: #ec8df1;

  --text-colour: #b0b1c1;
  --text-colour-75p: #b0b1c1c0;
  --link-colour: var(--primary);
  --link-colour-active: var(--primary-light);
}

[theme=dark] [data-theme=dark] {
  display: none;
}

[theme=light] [data-theme=light] {
  display: none;
}

:root[theme=light] {
  --bg-colour: #ddddff;
  --text-colour: #000000;
  --text-colour-75p: #000c0;
  --link-colour: #4444ff;
  --link-colour-active: #4444dd;
}

html, body, ol, ul, li, button, input {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--el0);
  color: var(--text-colour);
  font-family: var(--main-font);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

h1, h2, h3 {
  font-family: var(--heading-font);
}

code, kbd, pre {
  font-family: var(--mono-font);
}

time {
  font-size: 0.9em;
}

hr {
  border: 0;
  height: 0.1em;
  background-image: linear-gradient(to right, #0000, var(--text-colour-75p), #0000);
}

a, a:visited {
  text-decoration: none;
  color: var(--link-colour);
}

a:hover, a:focus, a:active {
  text-decoration: underline;
  color: var(--link-colour-active);
}

svg {
  fill: var(--text-colour);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--el1);
  display: flex;
  justify-content: flex-end;
  opacity: 0.9;
}

header > nav {
  display: inline-block;
}

header > nav,
header > section {
  align-self: center;
}

header li,
header button {
  padding: 0.4em;
}

header ul > li {
  display: inline-block;
}

.theme-switcher button {
  background: transparent;
  border: none;
}

.theme-switcher svg {
  width: 24px;
  height: 24px;
  padding: 0.3em;
  fill: var(--link-colour);
}

.theme-switcher svg:hover {
  fill: var(--link-colour-active);
  cursor: pointer;
}

#main {
  display: flex;
  justify-content: center;
}

main {
  padding: 2em;
  max-width: 1040px;
}

footer {
  display: flex;
  font-size: 0.8em;
  justify-content: center;
}

footer > span {
  padding: 0.3em 2em;
}
