:root {
  --font-size: 1.2em;
  --line-height: 1.5em;
  --main-font: Roboto, sans-serif;
  --heading-font: Felipa, sans;
  --mono-font: "Fira Code", monospace;
}

:root,
:root[theme=dark] {
  --el0: #02050c;
  --el1: #0a0f15;
  --el2: #333333;
  --primary: #ad60fd;
  --primary-dark: #6223a5;
  --primary-light: #ec8df1;

  --text-primary: #c8d8de;
  --text-primary-75p: #c8d8dec0;
  --text-secondary: #acb9be;
  --text-secondary-75p: #acb9bec0;
  --link-colour: var(--primary);
  --link-colour-active: var(--primary-light);

  --button-neutral: #204e9d;
  --button-neutral-border: #095def;
  --button-positive: #126627;
  --button-positive-border: #0abf36;
  --button-negative: #ca4129;
  --button-negative-border: #bc2206;
}

:root[theme=light] {
  --el0: #eeeeff;
  --el1: #e2e2f5;
  --el2: #c8dff3;
  --primary: #3131c4;
  --primary-dark: #22229b;
  --primary-light: #3b3bf8;


  --text-primary: #02050c;
  --text-primary-75p: #02050cc0;
  --text-secondary: #16171a;
  --text-secondary-75p: #16171ac0;
  --link-colour: var(--primary);
  --link-colour-active: var(--primary-light);

  --button-neutral: #5388e2;
  --button-neutral-border: #296ce2;
  --button-positive: #3cc15d;
  --button-positive-border: #0f9630;
  --button-negative: #ca4129;
  --button-negative-border: #bc2206;
}

@media (prefers-color-scheme: light) {
  :root,
  :root[theme=light] {
    --el0: #eeeeff;
    --el1: #e2e2f5;
    --el2: #c8dff3;
    --primary: #3131c4;
    --primary-dark: #22229b;
    --primary-light: #3b3bf8;


    --text-primary: #02050c;
    --text-primary-75p: #02050cc0;
    --text-secondary: #16171a;
    --text-secondary-75p: #16171ac0;
    --link-colour: var(--primary);
    --link-colour-active: var(--primary-light);

    --button-neutral: #5388e2;
    --button-neutral-border: #296ce2;
    --button-positive: #3cc15d;
    --button-positive-border: #0f9630;
    --button-negative: #ca4129;
    --button-negative-border: #bc2206;
  }

  :root[theme=dark] {
    --el0: #02050c;
    --el1: #0a0f15;
    --el2: #333333;
    --primary: #ad60fd;
    --primary-dark: #6223a5;
    --primary-light: #ec8df1;

    --text-primary: #c8d8de;
    --text-primary-75p: #c8d8dec0;
    --text-secondary: #acb9be;
    --text-secondary-75p: #acb9bec0;
    --link-colour: var(--primary);
    --link-colour-active: var(--primary-light);

    --button-neutral: #204e9d;
    --button-neutral-border: #095def;
    --button-positive: #126627;
    --button-positive-border: #0abf36;
    --button-negative: #ca4129;
    --button-negative-border: #bc2206;
  }
}

#theme-switcher {
  display: none;
}

[theme] #theme-switcher {
  display: initial;
}

[theme=dark] [data-theme=dark] {
  display: none;
}

[theme=light] [data-theme=light] {
  display: none;
}

html, body, ol, ul, li, button, input {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--el0);
  color: var(--text-primary);
  font-family: var(--main-font);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

h1, h2, h3 {
  font-family: var(--heading-font);
  text-decoration: underline 1px var(--primary-dark);
  text-shadow: 0 0 40px var(--primary-light);
}

code, kbd, pre {
  font-family: var(--mono-font);
}

time {
  font-size: 0.9em;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #0000, var(--primary-dark), #0000);
}

a, a:visited {
  text-decoration: none;
  color: var(--link-colour);
}

a:hover, a:focus, a:active {
  text-decoration: underline;
  color: var(--link-colour-active);
}

svg {
  fill: var(--text-primary);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--el1);
  border-bottom: 1px solid var(--primary-dark);
  opacity: 0.95;
  display: flex;
  justify-content: flex-end;
}

header > nav {
  display: inline-block;
}

header > nav,
header > section {
  align-self: center;
}

header li,
header button,
header button:hover,
header button:active {
  border: none;
  padding: 0;
  background: transparent;
  box-shadow: none;
}

header ul > li,
footer ul > li {
  display: inline-block;
}

header svg {
  width: 24px;
  height: 24px;
  padding: 0.3em;
  fill: var(--link-colour);
}

header svg:hover {
  fill: var(--link-colour-active);
  cursor: pointer;
}

#main {
  display: flex;
  justify-content: center;
}

main {
  padding: 2em;
  max-width: 1040px;
}

footer {
  font-size: 0.7em;
  background: linear-gradient(var(--el1), var(--el0));
  padding-bottom: 5em;
  border-top: 1px solid var(--primary-dark);
}

footer > ul {
  display: flex;
  justify-content: center;
}

footer > ul > li {
  padding: 1em 2em;
}

article {
  background-color: var(--el1);
  padding: 1em;
  border: 1px solid var(--primary-dark);
  border-radius: 6px;
  margin: 2em 0;
}

button {
  border-radius: 6px;
  border: 2px outset;
  padding: 1em;
  color: var(--text-primary);
  font-weight: bolder;
}

button:hover {
  filter: brightness(92%);
  transition: all 10ms ease;
}

button:active {
  filter: brightness(80%);
  border-style: inset;
  transition: all 100ms ease;
}

article > section {
  display: flex;
  justify-content: flex-end;
}

article > section > button {
  margin: 0 2em;
}

.btn-neutral {
  background-color: var(--button-neutral);
  border-color: var(--button-neutral-border);
}

.btn-positive {
  background-color: var(--button-positive);
  border-color: var(--button-positive-border);
}

.btn-negative {
  background-color: var(--button-negative);
  border-color: var(--button-negative-border);
}
