.test dl,
.test pre {
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
}

.test dt,
.test dd {
  display: inline-block;
}

.test .success {
  padding-right: 1rem;
  color: var(--positive);
  text-shadow: 0 1px 20px var(--positive-border);
}

.test .failure {
  padding-right: 1rem;
  color: var(--negative);
  text-shadow: 0 1px 20px var(--negative-border);
}

.test .notice {
  color: var(--neutral);
  text-shadow: 0 1px 20px var(--neutral-border);
}

.test .actual {
  color: var(--negative);
  text-shadow: 0 0 10px var(--negative-border);
}

.test .expected {
  color: var(--neutral);
  text-shadow: 0 0 10px var(--neutral-border);
}
